.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;

}

.header-nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

.header-nav>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.header-nav>ul>li>a:hover {
    color: rgb(114, 114, 114);
    transition: color 0.3s ease-in-out;

    animation: colorChange 0.3s ease-in-out forwards;

}

@keyframes colorChange {
    from {
        color: inherit;
    }

    to {
        color: rgb(88, 118, 240);
    }
}
