:root {
    --primary-color: #f5f5f5;
    /* --primary-color: #ffeedb; */
    --secondary-color: #;
    --font-color: #0c0f0a;
    /* --font-family: 'W95FA', */
    --font-family: 'Jura',
        'monospace';
}

* {
    font-family: var(--font-family);
}
